<p id="notice"><%= notice %></p>

<h1>
  <%= @office.company.name %>
</h1>

<h2>
  <%= @office.name %>
</h2>

<h2>
  <strong>Address:</strong>
  <%= @office.address %>
</h2>

<ul>
<% @office.employees.each do |employee| %>
  <li><%= link_to employee.name, employee %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
