
  <h1>
  	<%= @user.name %>
  </h1>

<h2>
  <%= @user.email %>
</h2>

<h2>
  <%= @user.address %>, <%= @user.city %>
</h2>

<ol>
	<%= @passenger.ride_requests.each do |ride| %>
		<li><%= ride.direction %></li>
	<% end %>
</ol>

  <%= link_to 'create ride', new_ride_request_path %>