<h1>
  <%= @user.name %>
</h1>

<h2>
  <%= @user.email %> / <%= @user.company.name %>
</h2>

<h2>
  Home address: <%= @user.address %>, <%= @user.city %>
</h2>

<h2>
  Default Office: <%= @user.default_office.name %>, <%= @user.default_office.address %>,<%= @user.default_office.city %>
</h2>

<ol>
  <% @passenger.ride_requests.each do |ride| %>
	  <li><%= ride.direction %></li>
  <% end %>
</ol>

<%= link_to 'Create ride', new_ride_request_path %> |