<p id="notice"><%= notice %></p>

<h1>
  <%= @company.name %>
</h1>

<p>
  <strong>Domain:</strong>
  <%= @company.domain %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<h3>Offices:</h3>
<ul>
	<% @company.offices.each do |office| %>
		<li><%= link_to office.name, office_path(office) %>: <%= office.address %></li>
	<% end %>
</ul>

<h3>Employees:</h3>
<ul>
	<% @company.employees.each do |employee| %>
		<li><%= employee.name %>: <%= employee.address %>
				<% if employee.default_office %>
		      <%= employee.default_office.name %>
		  <% end %>
		</li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
