<p id="notice"><%= notice %></p>

<h1>
  <%= @company.name %>
</h1>

<p>
  <strong>Domain:</strong>
  <%= @company.domain %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<h3>Offices:</h3>
<ul>
	<% @company.offices.each do |office| %>
		<li><%= office.name %>: <%= office.address %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
