<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :direction %><br>
    <%= f.select :direction, Ride.direction_options %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :user_id %>

  <% if @ride.type == 'RideOffer' %>
    <div class="field">
      <%= f.label :freeSeats %><br>
      <%= f.number_field :freeSeats %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :office %><br>
    <%= f.select :office_id, options_from_collection_for_select(@ride.office_options, 'id', :to_s ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
